

.spots__landing__container {
  margin: 0 10%;
  margin-bottom: 150px;
}

.landing__title {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.create__newSpot {
  display: flex;
  align-items: center;
}

.existing__spots {
  padding: 0 3%;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
}
