@media screen and (min-width: 1900px) {
  .mylisting_card {
    width: 80%;
  }
}

@media screen and (max-width: 1900px) and (min-width: 1800px) {
  .mylisting_card {
    width: 90%;
  }
}

@media screen and (max-width: 1800px) and (min-width: 800px) {
  .mylisting_cards {
    width: 70%;
  }
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  .mylisting_cards {
    width: 80%;
  }
}


.mylisting_card {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2% 3%;
  width: 100%;
  height: 200px;
}

.mylisting_card > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  background-color: rgba(255, 200, 190, 0.4);
  box-shadow: 2px 2px 2px 2px lightpink;
}

.mylisting_card > div > img {
  float: left;
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px lightpink;
}

.card__details {
  margin-left: 5%;
  width: 100%;
  min-width: 250px;
  max-width: 500px;
}

.card__details:hover {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 15px;
  height: 101%;
  cursor: pointer;
}

.card__details > h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 10px;
}

.card__details > ul {
  list-style: none;
  font-size: 11pt;
  padding-left: 30px;
}

.card__details > ul > li {
  color: rgb(90, 90, 90);
}

.edit__listing__container {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.edit__listing__container > button {
  border: 0.5px solid rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.2);
  background-color: white;
  height: 25px;
  width: 150px;
  cursor: pointer;
  margin-top: 5px;
}

.edit__listing__container > button:hover {
  background-color: rgba(200, 200, 200, 0.1);
  box-shadow: 1px 1px 2px 3px rgba(128, 128, 128, 0.5);
}
