.sign_up__form {
  margin: 20px 20px;
  align-items: center;
  background-color: white;
  width: 325px;
  height: 325px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sign_up__form::-webkit-scrollbar {
  width: 2px;
}
.sign_up__form::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 2px;
}

.sign_up__form::-webkit-scrollbar-thumb {
  background: rgba(159, 30, 0, 0.5);
  border-radius: 1px;
}

/* .sign_up__form {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

.sign_up__form > span {
  font-size: 20px;
  margin: 0px;
}

.sign_up__form > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: red;
  width: 200px;
  padding: 0;
}

.sign_up__form > div {
  width: 350px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_up__form > div > input {
  border: 0.5px solid rgba(128, 128, 128, 0.1);
  border-radius: 4px;
  box-shadow: 1px 1px 2px 3px rgba(128, 128, 128, 0.2);
  width: 80%;
  height: 20px;
  padding: 2px;
}

.sign_up__form > div > input:focus {
  outline: none;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
}

.sign_up__form > div > label {
  font-weight: 500;
  padding: 4px;
}

.sign_up__form > button {
  background-color: #ffc8be66;
  margin-bottom: 60px;
  border: 0;
  margin-top: 15px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.2);
}

.sign_up__form > button:hover {
  /* background-color: #ff5a60db; */
  background-color: #ff7a638b;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.5);
}
