@media screen and (max-width: 800px) and (min-width: 0px) {
  .booking__confirmation {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 3000px;
    width: 80%;
    margin: 0px;
  }
  .booking_confirmation__map {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
  .booking_confirmation__details {
    margin-top: 0px;
  }
}

.booking__confirmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 750px;
  position: absolute;
  margin-bottom: 100px;
}

.booking_confirmation__info {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  background: white;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.booking_confirmation__info_header {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.booking_confirmation__info_header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(120, 120, 120, 0.5);
  margin-bottom: 1vw;
}

.booking_confirmation__info_header > img {
  max-width: 100%;
  max-height: 100%;
  min-width: 350px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 1vw;
}

/* .left-panel-top .spot-img-spot-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 40px;
} */

.booking_confirmation__details {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.booking_confirmation__details > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1vw;
  border-bottom: 1px solid rgba(120, 120, 120, 0.5);
}

.booking_confirmation__details > div:first-child > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.booking_confirmation__details > div:first-child > div > p {
  font-weight: 500;
}

.booking_showListing {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  box-shadow: 1px 1px 1px rgba(120, 120, 120, 0.5);
  border-radius: 15px;
  border: 1px solid rgba(120, 120, 120, 0.5);
}

.booking_showListing > span{
  padding-left: 1vw;
}

.booking_showListing:hover {
  cursor: pointer;
  background-color: rgba(120, 120, 120, 0.5);
}

.booking_confirmation__details > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 1px 1px rgba(120, 120, 120, 0.5);
  border-radius: 15px;
  border: 1px solid rgba(120, 120, 120, 0.5);
}

.booking_confirmation__details > a > span {
  padding-left: 1vw;
}
.booking_confirmation__details > a:hover {
  cursor: pointer;
  background-color: rgba(120, 120, 120, 0.5);
}

.booking_cancel__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(120, 120, 120, 0.5);
  border-radius: 15px;
  border: 1px solid rgba(120, 120, 120, 0.5);
}

.booking_cancel__button > span {
  font-size: 14px;
  padding-left: 1vw;
}

.booking_cancel__button:hover {
  cursor: pointer;
  background-color: rgba(120, 120, 120, 0.5);
}

.booking_confirmation__map {
  width: 55%;
}
