.edit_booking__button {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(120, 120, 120, 0.5);
  border-radius: 15px;
  border: 1px solid rgba(120, 120, 120, 0.5);
  font-size: 14px;
}

.edit_booking__button > span {
  font-size: 14px;
  padding-left: 1vw;
}

.edit_booking__button:hover {
  cursor: pointer;
  background-color: rgba(120, 120, 120, 0.5);
}
