.edit_booking__container {
  width: 400px;
  height: 350px;
  padding: 20px 20px;
  background: white;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.edit_booking__container > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  font-size: 18px;
  border-bottom: 1px solid rgba(120, 120, 120, 0.5);
}

.edit_booking__container > div:first-child > button {
  background-color: white;
  border: none;
  width: 30px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_booking__container > div:first-child > button:hover {
  background-color: rgba(120, 120, 120, 0.5);
  cursor: pointer;
}

.edit_date__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit_date__input > div {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 30px;
  margin-bottom: 5px;
}

.edit_date__input > div > input {
  border: 1px solid rgba(120, 120, 120, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(120, 120, 120, 0.5);
  border-radius: 15px;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
}

.edit_date__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  height: 40px;
  border-top: 1px solid rgba(120, 120, 120, 0.5);
}

.edit_date__button > button {
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgba(120, 120, 120, 0.5);
  background-color: rgba(120, 120, 120, 0.1);
  box-shadow: 1px 1px 1px 1px rgba(120, 120, 120, 0.2);
}

.edit_date__button > button:hover {
  background-color: rgba(120, 120, 120, 0.4);
  cursor: pointer;
}

.booking__price > span {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(110, 110, 110, 1);
  border-bottom: 1px solid rgba(120, 120, 120, 0.5);
}

.booking__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking__price > div {
  border-bottom: 1px dotted grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.total__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total__price > span {
  margin: 0;
}

.total__price > span:first-child {
  margin-top: 10px;
}
